.container{
  display: block;
  background-color: #ced0d8;
  width:400px;
  padding: 50px;
  margin-top: 50px;
  /* box-shadow: ; */
  position:relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;

}


.container:before,
.container:after {
  content:"";
  position:absolute;
  z-index:-1;
  bottom:15px;
  left:10px;
  width:50%;
  height:20%;
  max-width:300px;
  box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  transform:rotate(-3deg);
}
.container:after {
  right:10px;
  left:auto;
  transform:rotate(3deg);
}

.mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}